<html>
	<body>
		<h1>Login page</h1>

		<form action="{{ url_for('router.login') }}" method="post">
			<p>Login</p>
			<input name="username" type="text">
			<input name="password" type="password">
			<input type="submit">
		</form>

		<form action="{{ url_for('router.register') }}" method="post">
			<p>Register</p>
			<input name="username" type="text">
			<input name="password" type="password">
			<input type="submit">
		</form>

		{% if error %}
		<p>Error: {{ error }}</p>
		{% endif %}

	</body>
</html>
